/Course.class
/CourseDetail.class
/Customer.class
/Department.class
/Doctor.class
/EcommerceMain.class
/Faculty.class
/Hospital.class
/HospitalMain.class
/Order.class
/Patient.class
/Product.class
/Professor.class
/School.class
/SchoolDemonstration.class
/Student.class
/StudentDetail.class
/University.class
/UniversityMain.class
/UniversityManagement.class
