<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


   <!-- Constructor Injection -->

    <bean id="addressConstructor"
          class="com.spring.model.Address">

        <constructor-arg value="Bhopal"/>
        <constructor-arg value="Madhya Pradesh"/>

    </bean>

    <bean id="studentConstructor"
          class="com.spring.model.Student">

        <constructor-arg value="101"/>
        <constructor-arg value="Abhishek Kushwaha"/>
        <constructor-arg value="Spring Framework"/>

        <constructor-arg ref="addressConstructor"/>

    </bean>

    <!-- Setter Injection -->

    <bean id="addressSetter"
          class="com.spring.model.Address">

        <property name="city" value="Indore"/>
        <property name="state" value="Madhya Pradesh"/>

    </bean>

    <bean id="studentSetter"
          class="com.spring.model.Student">

        <property name="id" value="102"/>
        <property name="name" value="Rahul"/>
        <property name="course" value="Java"/>

        <property name="address" ref="addressSetter"/>

    </bean>

</beans>